.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  perspective: 1500px;
}

.front,
.back {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;

  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  /* border: 1px solid black; */
}

.back {
  z-index: 0;
  /* border: 1px solid black; */
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.back-content {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
}

.back-grab-end,
.front-grab-end {
  width: 15%;
  height: 100%;
  position: relative;
}

.front-grab-end:hover {
  cursor: grab;
}

.back-grab-end:hover {
  cursor: grab;
}

.edge {
  height: 8%;
  background-color: white;
}
.other-page-end {
  background-color: white;
  height: 92%;
}
