.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: aqua; */

  background-image: url("background.jpg");

  gap: 50px;
}

.initial-text {
  color: white;
  font-size: 30px;

  width: 225px;
}
