.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: aqua; */

  background-image: url("background.jpg");
}

.book-container {
  transform: translateX(182px);
}
